@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --white-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--white-rgb));
  background: rgb(var( --black-rgb));
}

